.title{
text-align: center;
color: navy;
}

.tablestyle, tr, th, td{
  border: 5px solid red;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
.rc{
  background-color:khaki;
}

h2{
  background-color:yellow;
}
