h1 {
  color:lime;
  font-family: Sans-Serif;
}



p {
  color:red;
}

#id1 {
  color:blue;
  text-align:center;
}

.bluev {
  color:blue;
  font font-family: Verdana;
}

.bluev p {
  color:blue;
  font font-family: Verdana;
}
