h1{
  text-align:center;
  width:170px;
  border:solid 6px purple;
  margin:auto;
}
#sr{
  text-align:center;
  width:180px;
  border:solid 6px purple;
  margin:auto;
}
.topnav {
    overflow: hidden;
    background-color: plum;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover:not(.active) {
    background-color:mediumslateblue;
    color: black;
}

.active {
    background-color: lavender;
}

.cen{
  border:solid 2px lime;
  margin:auto;
}

#lt{
  color:maroon;
}
.floatstyle {
	float: right;
 	width:400px;
}
.floatstyle1 {
	float: left;
width:300px;
}

.tac{
  margin:auto;
}
.columnside {
  float: right;
    padding: 24px;
    width: 25%;
}

.cr {
  float: left;
    padding: 24px;
    width: 25%;
}
.tablestyle, tr, th, td{
  border: 5px solid blue;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
.ts{
  background-color:lightcoral;
}
td{
  background-color: PaleGoldenRod ;
}
